<template>
  <div class="app-container">
    <div class="app-margin">
      <div class="box">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <b-field>
              <b-input placeholder="What are you doing?" v-model="newEntry.description"></b-input>
            </b-field>
          </div>
          <div class="column is-3">
            <b-field>
              <b-select :disabled="projects.length == 0" v-model="newEntry.projectId" expanded placeholder="Project">
                <option v-for="project in projects" :key="project.projectId" :value="project.projectId">
                  {{project.projectName}}
                </option>
              </b-select>
            </b-field>
          </div>
          <div class="column is-2">
            <p class="is-size-5 has-text-centered">{{dispayedDuration}}</p>
          </div>
          <div class="column is-2">
            <b-button type="is-success is-fullwidth" v-if="!isTimerRunning" @click="handleStartTimer">Start</b-button>
            <b-button type="is-danger is-fullwidth" v-if="isTimerRunning" @click="handleEndTimer">Stop</b-button>
          </div>
        </div>
      </div>
    </div>

    <b-message type="is-danger" v-if="isError">Something went wrong. Please try again</b-message>

    <b-message type="is-info" v-if="timeEntries.length == 0">No items found</b-message>

    <div class="app-margin" v-if="timeEntries.length > 0">
      <div class="app-margin card" v-for="entry in timeEntries" :key="entry.entryId">
        <div class="card-content">
          <div class="columns is-vcentered">
            <div class="column is-4">
              <p>{{entry.description}}
                <span v-if="entry.project.projectName != null && entry.project.billable" class="tag is-primary is-light is-rounded">Billable</span>
              </p>
            </div>
            <div class="column is-3">
              <p v-if="entry.project.projectName != null" :style="{'color': entry.project.color}">
                {{entry.project.projectName}}
              </p>
            </div>
            <div class="column is-2">
              <p>{{entry.createdDate}}</p>
              <p class="has-text-grey is-size-7">{{entry.startTime}} - {{entry.endTime}}</p>
            </div>
            <div class="column is-2">
              <p class="is-size-5">{{entry.duration}}</p>
            </div>
            <div class="column is-1">
              <div class="buttons is-right">
                <b-button type="is-danger" @click="removeTimeEntry(entry.entryId)">Remove</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
  data() {
    return {
      isError: false,
      timeEntries: [],
      projects: [],
      newEntry: {
        projectId: null,
        description: '',
        startTime: null,
        createdDate: null,
        endTime: null
      },
      dispayedDuration: '00:00:00',
      isTimerRunning: false,
      timer: null,
      hours: 0,
      minutes: 0,
      seconds: 0
    }
  },
  methods: {
    handleStartTimer() {
      this.dispayedDuration = '00:00:00'
      this.newEntry.startTime = moment().format('HH:mm:ss')
      this.isTimerRunning = true
      this.timer = setInterval(() => this.handleUpdateDuration(), 1000)
    },
    handleEndTimer() {
      this.dispayedDuration = '00:00:00'
      this.isTimerRunning = false
      this.newEntry.endTime = moment().format('HH:mm:ss')
      this.newEntry.createdDate = moment().format('YYYY-MM-DD')
      clearInterval(this.timer)
      this.handleSaveEntry()
    },
    handleUpdateDuration(){
      this.seconds = this.seconds + 1
      if (this.seconds > 59) {
        this.seconds = 0
        this.minutes = this.minutes + 1
      }
      if (this.minutes > 59) {
        this.minutes = 0
        this.hours = this.hours + 1
      }
      this.dispayedDuration = `${this.hours}:${this.minutes}:${this.seconds}`
    },
    handleSaveEntry() {
      this.newEntry.userId = localStorage.getItem('userId')
      axios.post('time', this.newEntry).then(result => {
        console.log(result.data)
        this.$buefy.toast.open({message: 'Time entry was created', type: 'is-success'})
        this.newEntry.entryId = result.data.entryId
        this.timeEntries.push(this.newEntry)
      }).catch(err => {
        console.log(err)
        this.$buefy.toast.open({message: 'Something went wrong. Please try again', type: 'is-danger'})
      })
    },
    handleGetProjects(){
      const userId = localStorage.getItem('userId')
      axios.get(`projects/${userId}`).then(result => {
        this.isError = false
        this.projects = result.data.data
      }).catch(error => {
        console.log(error)
        this.isError = true
        this.projects = []
      }) 
    },
    handleGetEntries(){
      const userId = localStorage.getItem('userId')
      axios.get(`entries/${userId}`).then(result => {
        this.isError = false
        this.timeEntries = result.data.data
      }).catch(err => {
        this.isError = true
        console.log(err)
        this.timeEntries = []
      })
    },
    removeTimeEntry(entryId){
      this.$buefy.dialog.confirm({
        message: 'Do you want to remove this time entry?',
        onConfirm: () => this.handleRemoveTimeEntry(entryId)
      })
    },
    handleRemoveTimeEntry(entryId){
      axios.delete(`entry/${entryId}`).then(result => {
        this.$buefy.toast.open({message: 'Time entry was removed', type: 'is-success'})
        this.timeEntries = this.timeEntries.filter(item => item.entryId != entryId)
      }).catch(err => {
        console.log(err)
        this.$buefy.toast.open({message: 'Something went wrong. Please try again', type: 'is-danger'})
      })
    }
  },
  created() {
    this.handleGetEntries()
    this.handleGetProjects()
  }
}
</script>