<template>
  <div class="app-container">

    <div class="app-margin">
      <div class="buttons">
        <b-button type="is-primary is-rounded" @click="$router.push({name: 'client-create'})">Create new client</b-button>
      </div>
    </div>

    <b-message type="is-danger" v-if="isError">Something went wrong please try again.</b-message>

    <b-message type="is-info" v-if="clients.length == 0">No entries found</b-message>
    
    <div v-if="clients.length != 0">
      <div class="app-margin card" v-for="client in clients" :key="client.clientId">
        <div class="card-content">
          <div class="columns is-vcentered">
            <div class="column">{{client.clientName}}</div>
            <div class="column is-one-quarter">
              <div class="buttons is-right">
                <b-button type="is-danger" outlined @click="removeClient(client.clientId)">Remove</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <AppFab/> -->
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return {
      isError: false,
      clients: []
    }
  },
  methods: {
    removeClient(clientId) {
      this.$buefy.dialog.confirm({
        message: 'Do you want to remove this client?',
        onConfirm: () => this.handleRemoveClient(clientId)
      })
    },
    handleRemoveClient(clientId){
      axios.delete(`client/${clientId}`).then(result => {
        this.clients = this.clients.filter(item => item.clientId != clientId)
        this.$buefy.toast.open({message: 'Client remove', type: 'is-success'})
      }).catch(err => {
        console.log(err)
        this.$buefy.toast.open({message: 'Something went wrong. Please try again', type: 'is-danger'})
      })
    },
    handleGetClients() {
      const userId = localStorage.getItem('userId')
      axios.get(`clients/${userId}`).then(result => {
        this.clients = result.data.data
        this.isError = false
      }).catch(err => {
        console.log(err)
        this.isError = true
        this.clients = []
      })
    }
  },
  created() {
    this.handleGetClients()
  }
}
</script>