<template>
  <div class="app-container">
    <div class="box">
      <b-field label="Client Name">
        <b-input type="text" placeholder="Ex. Acme Ltd" v-model="client.clientName"/>
      </b-field>
      <div class="buttons">
        <b-button type="is-primary" @click="handleSaveClient" :style="{'is-loading': isLoading}">Create client</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      client: {
        clientName: ''
      },
      isLoading: false
    }
  },
  methods: {
    handleSaveClient(){
      this.client.userId = localStorage.getItem('userId')
      this.isLoading = true
      axios.post('clients', this.client).then(result => {
        this.$buefy.toast.open({message: 'Client was created', type: 'is-success'})
        this.isLoading = false
      }).catch(err => {
        console.log(err)
        this.$buefy.toast.open({message: 'Something went wrong. Please try again', type: 'is-danger'})
        this.isLoading = false
      })
    }
  }
}
</script>
