<template>
  <div class="app-container">
    <div class="box">
      <b-field label="Project Name">
        <b-input type="text" v-model="project.projectName"></b-input>
      </b-field>

      <div class="app-margin">
        <v-swatches v-model="project.color"></v-swatches>
      </div>

      <div class="app-margin">
        <b-field label="Client">
          <b-select expanded v-model="project.clientId" :disabled="clients.length == 0">
            <option v-for="client in clients" :key="client.clientId" :value="client.clientId">{{client.clientName}}</option>
          </b-select>
        </b-field>
        <a v-if="project.clientId != null" @click="project.clientId = null">Clear client</a>
      </div>

      <div class="app-margin">
        <b-switch v-model="project.billable">Is billable project</b-switch>
      </div>

      <div class="app-margin" v-if="project.billable">
        <div class="columns">
          <div class="column">
            <b-field label="Rate">
              <b-input type="text" v-model="project.rate"></b-input>
            </b-field>
          </div>
          <div class="column">
            <b-field label="Currency">
              <b-select expanded v-model="project.currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
              </b-select>
            </b-field>
          </div>
        </div>
      </div>

      <div class="buttons">
        <b-button type="is-primary" :class="{'is-loading': isLoading}" @click="handleSaveProject">Create project</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import VSwatches from 'vue-swatches'
import axios from 'axios'

export default {
  components: {VSwatches},
  data() {
    return {
      project: {
        projectName: '',
        color: '#2196f3',
        clientId: null,
        rate: 0,
        billable: false,
        currency: 'EUR'
      },
      clients: [],
      isLoading: false
    }
  },
  methods: {
    handleGetClients(){
      const userId = localStorage.getItem('userId')
      axios.get(`clients/${userId}`).then(result => {
        this.clients = result.data.data
        this.isError = false
      }).catch(err => {
        console.log(err)
        this.isError = true
        this.clients = []
      })
    },
    handleSaveProject(){
      this.isLoading = true
      this.project.userId = localStorage.getItem('userId')
      axios.post('projects', this.project).then(result => {
        this.isLoading = false
        this.$buefy.toast.open({message: 'Project was created succesfully', type: 'is-success'})
      }).catch(err => {
        this.isLoading = false
        console.log(err)
        this.$buefy.toast.open({message: 'Something went wrong. Please try again', type: 'is-danger'})
      })
    }
  },
  created() {
    this.handleGetClients()
  }
}
</script>