<template>
  <div class="app-container">

    <div class="app-margin">
      <div class="buttons">
        <b-button type="is-primary is-rounded" @click="$router.push({name: 'project-create'})">Create new project</b-button>
      </div>
    </div>
    
    <b-message type="is-danger" v-if="isError">Something went wrong. Please try again later</b-message>
    <b-message type="is-info" v-if="projects.length == 0">No projects found</b-message>
    <div v-if="projects.length > 0">
      <div class="app-margin card" v-for="project in projects" :key="project.projectId">
        <div class="card-content">
          <div class="columns is-vcentered">
            <div class="column is-5">
              <p class="is-size-5" :style="{'color': project.color}">{{project.projectName}}</p>
            </div>
            <div class="column is-3">
              <p v-if="project.client.clientName != null">{{project.client.clientName}}</p>
            </div>
            <div class="column is-2">
              <p v-if="project.billable">{{project.currency}} {{project.rate}}</p>
            </div>
            <div class="column is-2">
              <div class="buttons is-right">
                <b-button type="is-danger" @click="removeProject(project.projectId)" outlined>Remove</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data(){
    return {
      projects: [{
        projectId: 1, projectName: 'Lorem ipsum', billable: false, rate: '100.00', currency: 'EUR', color: '#e91e63', client: {
          clientName: 'Codesity OU'
        }
      }],
      isError: false
    }
  },
  methods: {
    removeProject(projectId){
      this.$buefy.dialog.confirm({
        message: 'Do you want to remove this project?',
        onConfirm: () => this.handleRemoveProject(projectId)
      })
    },
    handleRemoveProject(projectId){
      axios.delete(`project/${projectId}`).then(result =>{
        this.projects = this.projects.filter(item => item.projectId != projectId)
        this.$buefy.toast.open({message: 'Project was removed', type: 'is-success'})
      }).catch(error =>{
        console.log(error)
        this.$buefy.toast.open({message: 'Something went wrong. Please try again', type: 'is-danger'})
      })
    },
    handleGetProjects(){
      const userId = localStorage.getItem('userId')
      axios.get(`projects/${userId}`).then(result => {
        this.isError = false
        this.projects = result.data.data
      }).catch(error => {
        console.log(error)
        this.isError = true
        this.projects = []
      }) 
    }
  },
  created() {
    this.handleGetProjects()
  }
}
</script>