<template>
  <div id="app">
    <b-navbar type="is-primary" fixed-top>
      <template slot="start" v-if="isAuthorized()">
        <b-navbar-item @click="$router.push({name: 'timer'})">Timer</b-navbar-item>
        <b-navbar-item @click="$router.push({name: 'projects'})">Projects</b-navbar-item>
        <b-navbar-item @click="$router.push({name: 'clients'})">Clients</b-navbar-item>
      </template>
      <template slot="end">
        <b-navbar-item v-if="isAuthorized()" tag="div">{{getUserName()}}</b-navbar-item>
        <b-navbar-item  v-if="isAuthorized()" @click="logout">Log out</b-navbar-item>
      </template>
    </b-navbar>
    <div class="app-layout">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    getUserName() {
      if (this.isAuthorized()){
        return localStorage.getItem('firstName') + ' ' + localStorage.getItem('lastName')
      }
      return ''
    },
    isAuthorized() {
      return localStorage.getItem('userId') !== null
    },
    logout() {
      this.$buefy.dialog.confirm({
        message:'Do you want to quit?',
        type: 'is-warning',
        onConfirm: () => this.handleLogout()
      })
    },
    handleLogout(){
      localStorage.clear()
      this.$router.push({name: 'login'})
    }
  }
}
</script>

<style>
.app-layout {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
}

.app-container {
    padding: 20px;
    width: 70%;
}

.app-container-full {
    width: 100%;
}

.app-margin {
    margin-bottom: 15px;
}

.app-fab {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: red;

    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
</style>