<template>
  <div class="app-container-full">
      <div class="hero is-fullheight is-warning is-bold">
          <div class="hero-body container">
              <div class="box">
                  <b-message type="is-danger" v-if="isError">Invalid email address or password</b-message>

                  <b-field label="Email">
                      <b-input type="email" v-model="loginRequest.email"></b-input>
                  </b-field>

                  <b-field label="Password">
                      <b-input type="password" password-reveal v-model="loginRequest.password"></b-input>
                  </b-field>

                  <div class="app-margin">
                      <b-button expanded type="is-primary" rounded @click="handleLogin">Log in</b-button>
                  </div>

                  <div>
                      <p>I don't have an account yet. <router-link :to="{name: 'signup'}">Create new</router-link></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
    data(){
        return {
            loginRequest: {
                email: '',
                password: ''
            },
            isError: false
        }
    },
    methods: {
        handleLogin(){
            axios.post('login', this.loginRequest).then(result => {
                this.isError = false
                const token = result.data.accessToken
                axios.defaults.headers.common['Authorization'] = `JWT ${token}`
                localStorage.setItem('userId', result.data.userId)
                localStorage.setItem('firstName', result.data.firstName)
                localStorage.setItem('lastName', result.data.lastName)
                this.$router.push({name: 'timer'})
            }).catch(err =>{
                console.log(err)
                this.isError = true
            })
        }
    }
}
</script>

<style>

</style>