<template>
  <div class="app-container-full">
      <div class="hero is-fullheight is-warning is-bold">
          <div class="hero-body container">
              <div class="box">
                  <b-message type="is-danger" v-if="isError">User with this email address already exists</b-message>

                  <b-field label="Email">
                      <b-input type="email" v-model="signupRequest.email"></b-input>
                  </b-field>

                  <b-field label="First Name">
                      <b-input type="text" v-model="signupRequest.firstName"></b-input>
                  </b-field>

                  <b-field label="Last Name">
                      <b-input type="text" v-model="signupRequest.lastName"></b-input>
                  </b-field>

                  <b-field label="Password">
                      <b-input type="password" password-reveal v-model="signupRequest.password"></b-input>
                  </b-field>

                  <div class="app-margin">
                      <b-switch v-model="isConfirmedPrivacy">I agree with <a>Terms and Conditions</a> and <a>Privacy Policy</a></b-switch>
                  </div>

                  <div class="app-margin">
                      <b-button expanded type="is-primary" rounded @click="handleSignup">Signup</b-button>
                  </div>

              </div>
          </div>
      </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
    data(){
        return {
            signupRequest: {
                email: '',
                password: '',
                firstName: '',
                lastName: ''
            },
            isError: false,
            isConfirmedPrivacy: false
        }
    },
    methods: {
        handleSignup(){
            axios.post('signup', this.signupRequest).then(result => {
                this.isError = false
                this.$router.push({name: 'login'})
            }).catch(err =>{
                console.log(err)
                this.isError = true
            })
        }
    }
}
</script>

<style>

</style>